body{
    
        animation: animateBg 14s linear infinite;
        background-image: linear-gradient(90deg,#2c00cc,#040a39,#2c00cc,#040a39);
        background-size: 300% 100%;
      }
      @keyframes animateBg {
        0% { background-position: 0% 0%; }
        100% { background-position: 100% 0%; }
      
      
}

#top{
    position: fixed;
    margin-top: 100px;
    left: 50%; 
    width: 400px; 
    margin-left: -200px;
    text-align: center;
    border: 2px solid green;
    padding: 10px;
    font-family: 'Patua One', cursive;
    border-radius: 7px;
    background-color:antiquewhite ;
    
    
}
    
    
    
#addtext{
     font-size:30px ;
    border-style:solid ;
    border-radius: 5px;
    
}
#submitbtn{
    position: relative;
    left: 200px;
    bottom: 40px;
    
    height: 42px;
    width: 40px;
    background: rgb(47, 255, 141);
    color: rgb(255, 38, 0);
    font-size:25px ;
    border-radius: 5px;
    
}

    

#myul{
    font-size: 15px;
    font-family: 'Patua One', cursive;
    
}
#li{
    position:static;
    margin-right: 600px;
    font-size: 25px;
    
    
    
    
    
}
#but{
    position: relative;
    bottom:57px ;
    left: 180px;
    margin-top:5px ;
    height: 40px;
    width: 80px;
    font-size:20px ;
    text-align: center;
    background: red;
    border-radius: 5px;
    
}
#checker{
    position:relative;
    zoom: 3;
    bottom: 15px;
    right: 85px;
    
}
